<footer id="footer" class="text-center">
    <div class="container">
        <p class="text-muted credit">
            八维教育
            | 传媒学院管理系统
            | Powered By 1412A
            | 关于我们
        </p>
    </div>
</footer>