<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheet/home.css"/>
</head>
<body>
<div class="big">
    <div class="top">
        <h1>home页</h1>
        <form action="/home" method="post">
            <p>
                <input type="submit" value="退出" class="sub"/>
            </p>
        </form>
    </div>
    <div class="cent">内容</div>
    <div class="btm">

    </div>
</div>
<script src="../javascripts/jquery.min.js">

</script>
</body>
</html>