<!Doctype html>
<html lang="en">
<head>
    <title>详情页</title>
    <meta charset="UTF-8">
    <link type="text/css" href="stylesheets/reset.css" rel="stylesheet"/>
</head>
<body>
<p>this is about page</p>

<p>这是详情页</p>
</body>
</html>