<!Doctype html>
<html lang="en">
<head>
    <title>列表页</title>
    <meta charset="UTF-8">
    <link type="text/css" href="stylesheets/reset.css" rel="stylesheet"/>
</head>
<body>
<p>this is index page</p>

<p>这是列表页</p>
</body>
</html>