<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form action="http://localhost:3000/meth" method="post">
    <input type="text" name="userName"/></br>
    <input type="password" name="password"/><br>
    <input type="submit" value="提交"/>
</form>
</body>
</html>