<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
</head>
<body>
aaaaa
   <%  data.forEach(function(val){ %>
         <p><%=val.name %></p>
   <%  })  %>
</body>
</html>