<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form action="http://localhost:3000/c" method="post">
    <input type="text" name="userName"/>
    <input type="text" name="passWord"/>
    <input type="submit" value="sub"/>
</form>
</body>
</html>