<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title><%=title%></title>
</head>
<body>
    a.html
<% data.forEach(function(val){ %>

    <p><%=val.name+"   "+val.age %></p>

<% }) %>


</body>
</html>