.box{
    width:300px;
    height:200px;
    border:1px solid #000088;
    border-radius:20px;
    margin:100px auto;
}
p{
    margin-left: 15px;
}
input{
    width:150px;
    height:30px;
    margin-left:30px;
    margin-top:10px;
}
.sub{
    width:50px;
    margin-left: 90px;
}
