<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/bootstrap.css"/>
    <link rel="stylesheet" href="stylesheets/reset.css"/>
    <link rel="stylesheet" href="stylesheets/base.css"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="stylesheets/html5shiv.min.js"></script>
    <script type="text/javascript" src="stylesheets/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%- include('include/header')%>
<div class="container mt text-center">
    <h1>高文雅的个人资料</h1>
    <ul>
        <% for(var i=0;i< users.length;i++){%>
        <li><span>名字：</span><%- users[i].stu_name%></li>
        <li><span>年龄：</span><%- users[i].stu_age%></li>
        <li><span>性别：</span><%- users[i].stu_gender%></li>
        <li><span>地址：</span><%- users[i].stu_address%></li>
        <li><span>邮箱：</span><%- users[i].stu_email%></li>
        <%}%>
    </ul>
</div>
<div id="wrap">
    <div class="container">
        <div class="btn-group">
            <button type="button" class="btn btn-primary active">学院信息</button>
            <a href="pages/jieduanManage.php" class="btn btn-primary" role="button">阶段管理</a>
            <!--<div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    阶段管理 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">新增阶段</a></li>
                    <li><a href="">阶段列表</a></li>
                </ul>
            </div>-->
        </div>

        <div class="jumbotron" style="margin-top: 15px;">
            <h2 class="simhei">欢迎使用广告学院管理系统</h2>

            <p>广告学院简介、图片...</p>
            <!--<p>
                开始使用，请
                <a class="btn btn-primary" role="button">登录系统</a>
            </p>-->
        </div>
    </div>
</div>
<%- include('include/footer')%>
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
</body>
</html>