<%- include('include/header') %>
<div class="container mt text-center">
  世界你好
  <p>Nodejs + Express + Ejs</p>
  <ul>
    <li><a href="/register" class="btn btn-primary btn-large">去注册</a></li>
    <li>登陆</li>
  </ul>
</div>
<%- include('include/footer') %>